Source: libuatraits
Priority: extra
Maintainer: Oleg Obolenskiy <highpower@yandex-team.ru>
Build-Depends: debhelper (>= 7),
 pkg-config,
 libxml2-dev,
 libssl-dev,
 libboost-dev,
 libboost-thread-dev,
 libboost-test-dev,
 libboost-python-dev,
 libpcre3-dev,
 libjson-xs-perl,
 perl,
 swig,
 xsltproc
Standards-Version: 3.8.3
Section: libs

Package: libuatraits
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: The c++ library
 Shared objects

Package: libuatraits-dev
Section: libdevel
Architecture: any
Depends: libuatraits (=${Source-Version})
Description: The c++ library
 Developers package

Package: uatraits-data
Section: misc
Architecture: all
Description: Package with browsers information

Package: uatraits-utils
Section: binary
Architecture: any
Depends: ${shlibs:Depends}, libuatraits (= ${Source-Version})
Description: Utilities to check user-agents

Package: uatraits-python
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libuatraits (= ${Source-Version})
Description: Python binding for C++ uatraits library

Package: uatraits-perl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libuatraits (= ${Source-Version})
Description: Perl binding for C++ uatraits library

Package: uatraits-java
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libuatraits (= ${Source-Version})
Description: Java binding for C++ uatraits library

Package: uatraits-nodejs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libuatraits (= ${Source-Version})
Description: Node.js binding for C++ uatraits library

